.is-topo {
    background-color: #0c1b93;
    border-color: #ddd;
}
.container_topo {
    padding-left: 4% !important;
}
.navbar-brand > .navbar-item {
    color: #eee !important;
}
.navbar-start > .navbar-item {
    color: #eee !important;
    margin-right: -10px;
}
.navbar-start >.navbar-dashboard {
    margin-right: 30px;
}
.stripe {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.2rem;
    text-align: center;
    color: #fff;
}
.coluna_thumb {
    margin-left: -5px;
}
.coluna_menu {
    margin-left: 10px;
    margin-top: 5px;
}
.coluna_menu ul {
    margin-left: -13px;
}
.circulo-sidebar > .icon-text {
    color: #000;
}
.icon-text {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}
.circulo {
    color: #000;
}
.menu-list > li > a > .fa-stack {
    float: right;
    margin-top: -4px;
}
.container_topo .fa-stack {
    margin-top: 3px;
    margin-left: -9px;
}
.menu-list a {
    padding-right: 0;
}