.is-topo {
    background-color: #0c1b93;
    border-color: #ddd;
    box-shadow: 1px 0px 10px #000;
}
.container_topo {
    padding-left: 4% !important;
}
.container_topo .navbar-item {
    text-align: center;
    line-height: 15px;
}
.navbar-brand > .navbar-item {
    color: #fff;
}
.navbar-brand > .navbar-item:hover {
    color: #fff;
}
.navbar, .container_topo {
    min-height: 1rem;
    max-height: 3.25rem;
}
.navbar-start > :nth-child(2) {
    border-left: 1px solid #fff;
}
.navbar-start > .navbar-item {
    color: #eee !important;
    text-align: center;
    display: block;
    padding-top: 20px;
    min-width: 120px;
    border-right: 1px solid #fff;
}
.navbar-start > .navbar-dashboard {
    border: none;
    padding-top: 7px;
    display: flex;
    margin-right: 40px;
    margin-left: 20px;
}
.navbar-start > .navbar-dashboard:hover {
    background-color: #0c1b93 !important;
}
.navbar-item span {
    padding-right: 2px;
    padding-top: 1.5px;
}
[data-badge]::after {
    background-color: #000;
}
.stripe {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.2rem;
    text-align: center;
    color: #fff;
}
.coluna_thumb {
    margin-left: -5px;
}
.coluna_menu {
    margin-left: 10px;
    margin-top: 5px;
    background-color: #000;
    min-height: 800px;
    padding-right: 0;
    min-width: 150px;
    box-shadow: 1px 0px 5px #000;
}
.coluna_menu .menu-label {
    font-weight: bold;
    margin-bottom: 3px;
}
.coluna_menu .menu-label, .coluna_menu .menu-list a {
    color: #fff;
}
.coluna_menu ul {
    margin-left: -13px;
}
.circulo-sidebar > .icon-text {
    color: #000;
}
.coluna_menu .icon-text {
    font-size: 10px;
    font-weight: bold;
    color: #000;
}
.circulo {
    color: #000;
    font-size: 1.3em;
}
.menu-list > li > a > .qtd {
    float: right;
    padding-right: 5px;
    font-size: 12px;
    margin-top: 4px;
}
.categoria {
    cursor: pointer;
}
.categoria span {
    font-size: 12px;
}
.menu-list {
    border-top: 1px solid #fff;
}
.menu-list > li {
    border-bottom: 1px solid #fff;
}
.menu-list a:hover {
    background-color: #a59696 !important;
}
.navbar-start > .navbar-item:hover {
    background-color: #0859dc;
}
.menu-list a {
    padding-right: 0;
}
.card {
    cursor: pointer;
}