html, body {
    height: 100%;
}
.div_menu, .div_dashboard {
    min-height: 100%;
    background-color: #252830;
}
.is-topo {
    background-color: #0c1b93;
    border-color: #ddd;
    border-bottom: 1px solid #fff;
}
.container_topo {
    padding-left: 4% !important;
}
.container_topo .navbar-item {
    text-align: center;
    line-height: 15px;
}
.navbar-brand {
    margin-right: 17px;
}
.navbar-brand > .navbar-item {
    color: #fff;
}
.navbar-brand > .navbar-item:hover {
    color: #fff;
}
.navbar, .container_topo {
    min-height: 1rem;
    max-height: 3.25rem;
}
.navbar-start > :nth-child(1) {
    border-left: 1px solid #fff;
}
.navbar-start > .navbar-item {
    color: #eee !important;
    text-align: center;
    display: block;
    padding-top: 20px;
    min-width: 120px;
    border-right: 1px solid #fff;
}
.selecionado {
    background-color: #940808;
}
.navbar-start > .navbar-dashboard {
    border: none;
    padding-top: 7px;
    display: flex;
    margin-right: 40px;
    margin-left: 20px;
}
.navbar-start > .navbar-dashboard:hover {
    background-color: transparent !important;
}
.navbar-item span {
    padding-right: 2px;
    padding-top: 1.5px;
}
[data-badge]::after {
    background-color: #000;
}
.navbar-end {
    margin-right: 39px;
}
.stripe {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.2rem;
    text-align: center;
    color: #fff;
}
.div_grid .coluna_thumb {
    margin-left: -5px;
}
.coluna_menu {
    margin-left: 10px;
    margin-top: 5px;
    background-color: #000;
    padding-right: 0;
    min-width: 150px;
    box-shadow: 1px 0px 5px #fff;
}
.coluna_menu .menu-label {
    font-weight: bold;
    margin-bottom: 3px;
}
.coluna_menu .menu-label, .coluna_menu .menu-list a {
    color: #fff;
}
.coluna_menu ul {
    margin-left: -13px;
}
.div_grid {
    margin-left: 0px !important;
}
.circulo-sidebar > .icon-text {
    color: #000;
}
.coluna_menu .icon-text {
    font-size: 10px;
    font-weight: bold;
    color: #000;
}
.circulo {
    color: #000;
    font-size: 1.3em;
}
.menu-list > li > a > .qtd {
    float: right;
    padding-right: 5px;
    font-size: 12px;
    margin-top: 4px;
}
.categoria {
    cursor: pointer;
}
.categoria span {
    font-size: 12px;
}
.menu-list {
    border-top: 1px solid #fff;
}
.menu-list > li {
    border-bottom: 1px solid #fff;
}
.menu-list a:hover {
    background-color: #a59696 !important;
}
.navbar-start > .navbar-item:hover {
    background-color: #0859dc;
}
.menu-list a {
    padding-right: 0;
}
.card {
    cursor: pointer;
    box-shadow: 3px 3px 5px #fff;
}
.input.is-rounded {
    border-radius: 5px;
}
.divisor {
    margin-right: 20px;
}
.modal_jogo > .modal-card, .modal_linha_acervo > .modal-card {
    height: 80%;
    width: 80%;
    margin-top: -150px;
}
.modal_linha_acervo .modal-card {
    margin-top: 15% !important;
}
.modal_linha_acervo .modal-card-foot {
    justify-content: flex-end !important;
}
.modal_linha_acervo .modal-card-body {
    max-height: 120px !important;
}
.modal-card-head {
    background-color: #0c1b93;
}
.modal-card-body {
    background-color: #252830;
}
.modal-card-foot {
    background-color: #000;
    justify-content: space-between;
}
.modal-card-title {
    color: #fff;
}
.modal-card-body form .label {
    color: #fff;
}
.input_nota {
    width: 75px !important;
}
.dados_igdb {
    color: #ddd;
    font-style: italic;
}
.capa_formulario > img {
    max-height: 431px;
    max-width: 323px;
}
.screenshots_formulario > img {
    max-height: 150px;
}
fieldset legend {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: large;
}
.tabela_acervo {
    background-color: #252830;
}
.tabela_acervo th, .tabela_acervo td {
    text-align: center !important;
    color: #fff !important;
}
.icone_centralizado {
    text-align: center !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.icone_centralizado .button {
    max-height: 24px !important;
    max-width: 30px !important;
}
.acervo_centralizado {
    text-align: center !important;
}
.acervo_linhas {
    padding-top: 5px;
    padding-left: 40px;
}
.div_busca_igdb .column {
    border-bottom: 1px solid #000;
}
.div_busca_igdb .is-10 {
    margin-top: 3px !important;
}
.eac-item {
    background-color: #fff;
    cursor: pointer;
}
.eac-item:hover {
    background-color: #ddd !important;
}
.easy-autocomplete-container {
    position: absolute;
    z-index: 9999;
    width: 100%;
}
.table td input, .table td select {
    height: 2.1em !important;
    padding-top: 3px !important;
    font-size: 15px !important;
}
.table td .select {
    height: 2.1em !important;
}
/* .select:not(.is-multiple):not(.is-loading)::after {
    margin-top: -0.7em !important;
} */
.table td {
    padding-top: 4px !important;
    padding-bottom: 2px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
#eac-container-campo_busca > ul > li.selected > .eac-item {
    background-color: #ddd !important;
}
.tabela_acervo .fa-stack {
    font-size: 9px !important;
    padding-top: 4px !important;
    vertical-align: top !important;
}
.tabela_acervo .fa-stack-1x {
    color: #000 !important;
    padding-top: 4px !important;
    font-size: 11px !important;
}
.div_jogos_index {
    margin-top: 15px;
    margin-right: 11px;
}
.icone_exibir_grid, .icone_exibir_lista, .icone_exibir_grid:hover, .icone_exibir_lista:hover {
    font-size: 30px;
}
.easy-autocomplete {
    width: 100% !important;
}
.label_progresso {
    color: #fff;
}
.div_lista {
    margin-left: -8px;
}
.div_lista .coluna_capa {
    border-right: 2px solid #aaa;
}
.div_lista .coluna_texto {
    margin-left: 4px !important;
}
.div_lista li {
    color: #fff;
    border: 1px solid #aaa;
    margin-bottom: 2px;
}
.navbar-brand a {
    cursor: default;
}
.navbar-dashboard i:hover, .navbar-dashboard .icone_selecionado {
    color: red;
}
.level .heading, .level .title {
    color: #fff;
}
.div_lista li {
    cursor: pointer;
}
.titulo_dados_jogo {
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}
.container_dados_jogo_grid {
    min-width: 100%;
}
.container_dados_jogo_lista {
    min-width: 75%;
    position: fixed;
}
.coluna_dados_jogo {
    margin-top: -10px;
}
.container_dados_jogo .coluna_texto {
    margin-left: 8px !important;
}
.categoria_dados_jogo, .valor_dados_jogo {
    color: #fff;
    display: block;
}
.categoria_dados_jogo {
    font-weight: bold;
}
.valor_dados_jogo {
    font-style: italic;
}
.tabela_dados_jogo th, .tabela_dados_jogo td {
    padding: 0 !important;
}
.dados_jogo_lista_acervo_container {
    min-width: 99.3%;
    float: left;
}
.dados_jogo_grid_acervo_container {
    min-width: 99.4%;
    float: left;
}
.icones_dados_jogo i {
    cursor: pointer;
}
.selectize-dropdown-content {
    overflow-y: hidden !important;
}
.navbar-dashboard .control {
    width: 300px;
}
.btn_adicionar_acervo {
    float: right;
    margin-top: 5px;
}
.botao_escondido {
    opacity: 0;
}
.botao_escondido:hover {
    opacity: 1;
}
.campo_data::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.container_graficos {
    max-width: 90%;
}